
/* FONTS */

@font-face {
	font-family: 'ElegantIcons';
	src:url('elegant_font/ElegantIcons.eot');
	src:url('elegant_font/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('elegant_font/ElegantIcons.woff') format('woff'),
		url('elegant_font/ElegantIcons.ttf') format('truetype'),
		url('elegant_font/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon_heart, .icon_pencil, .icon_floppy_alt, .icon_genius {
	font-family: 'ElegantIcons';
	font-size: 30px;
}

.icon_heart:before {
	content: "\e089";
}

.icon_pencil:before {
	content: "\6a";
}

.icon_floppy_alt:before {
	content: "\e0e4";
}

.icon_genius:before {
	content: "\e00a";
}


/* COLOURS *//*
cyan: #61dafb;
darkcyan: #037696;
charcoal: #20232a;
darkcoal: #191a19;
off-white: #cacecf;
*/

/* MAIN STYLING */

body {
	background: #20232a;
	color: #61dafb;
}


/* NAVBAR */

.navbar {
	background: #191a19;
	color: #cacecf;
}

.nav-link, .navbar-brand {
	cursor: pointer;
	color: #cacecf;
}

.nav-link:hover, .navbar-brand:hover, .nav-link a:hover {
	color: #61dafb;
}

.nav-link a {
	text-decoration: none;
}

/* HOME */

@keyframes explode {
    0% {
        font-size: 30px;
        opacity: 1;
    }
    100% {
        font-size: 400px;
        opacity: 0;
    }
}

.home-container {
	width: 100%;
	height: 400px;
	text-align: center;
	margin: auto;
}

.home-icon {
	animation: explode 5s forwards;
}

/* POSTS */

.post-item {
	margin-top: 10px;
	margin-bottom: 10px;
}

.like-post-button {
	position: relative;
}

.post-item-username {
	cursor: pointer;
	color: #61dafb;
}

.post-item-username:hover {
	color: #cacecf;
}

.post-like-count {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: 0px;
    right: -9px;
    text-align: center;
    position: absolute;
    background-color: #191a19;
    color: white;
    font-family: auto;
    font-size: 10px;
}


/* NEW / EDIT POST TEXT */

textarea {
	width: 100%;
	background: #cacecf;
	color: #037696;
	font-weight: 500;
	border-radius: 5px;
	padding: 5px;
}

.post-edit-input {
	width: 100%;
}

/* LIKE POST */

.like-post-button {
	position: absolute;
	top: -5px;
	left: 0px;
}

@keyframes pulsate {
    0% {
        font-size: 30px;
    }
    50% {
        font-size: 32px;
    }
    100% {
        font-size: 30px;
    }
}

.like-post-button:hover {
	animation: pulsate 2s infinite;
}

/* EDIT / SAVE POST BUTTON */

.post-edit-button {
	/* flip it horizontally */
	transform: scale(-1, 1);
	position: absolute;
	top: -5px;
	left: 55px;
}

.post-save-button {
	/* flip it horizontally */
	transform: scale(-1, 1);
	position: absolute;
	top: -5px;
	left: 55px;
}

/* PROFILE */

.user-profile {
	border: 1px solid black;
	padding-top: 30px;
	padding-left: 15px;
	padding-bottom: 30px;
	padding-right: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Footer */

.post-footer {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
